@{
    ViewData["Title"] = "Boveda";
    ViewBag.ClaseBody = "general";
}

<header class="seccion">
    <h1>BOVEDA</h1>
</header>
<section class="final">
    <div>
        <h1>¡Felicidades!</h1>
        <h3>Has completado el escape room.</h3>
        <h3>Ahora tienes mucha plata al rededor tuyo y como escapes de ahi no sera problema nuestro...</h3>
    </div>
    <div class="ofice">
        <img src="~/img/abierta.jpeg" alt="">
    </div>
</section> 